
.MuiCardMedia-root {
    width: 50px;
    height: 55px;
}

h1{
    font-size: 18px;
    font-weight: bold;
}

h2{
    font-size: 12px;
    font-weight: normal;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 65px;
}

h4 {
    color: $gray;
    font-weight: normal;
    margin-bottom: 3px;
}

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded{
    box-shadow: none;
}

.MuiCardContent-root:last-child {
    border-bottom: 1px solid #0000002b;
}

svg.MuiSvgIcon-root {
    margin-top: 5px;
    position: absolute;
}

.letter_account {
    background: $gray;
    width: 50px;
    height: 40px;
    border-radius: 13%;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
}

form {
    margin-left: 65px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
    margin: 10px;
}

.card_password {
    height: 85vh;
    overflow-y: scroll;
}

.search_password{
    margin-left: 32px;
    border-bottom: 1px solid;
}

.MuiIconButton-edgeEnd {
    margin-right: -5px;
}